<div class="container mt-5 mb-5">
    <h3 class="text-center">Choose the kind of help you need</h3>
    <div class="row mt-3 d-flex justify-content-around">
        <div class="col-md-6 d-flex justify-content-center">
            <img src="../../assets/68f5781d-9858-4ac5-80c7-7e39645b31d7.jpg" width="200" height="150" alt="">
            <div class="d-flex flex-column justify-content-center">
                <p class="help font-weight-bolder">Booking and travelling</p>
                <p>Need help with a booking or upcoming trip, get in touch and we would be happy to help</p>
            </div>
        </div>
        <div class="col-md-6 d-flex justify-content-center">
            <img src="../../assets/7e9ddf18-ed1a-45ce-885d-40bdece3eb63.jpg" width="200" height="150" alt="">
            <div class="d-flex flex-column justify-content-center">
                <p class="help font-weight-bolder">Become a host</p>
                <p>Need help joining as a host or validate your calender, again just get in touch with us</p>
            </div>
        </div>

    </div>
</div>