<div class="container mt-3 mb-3 p-2">
    <h3 class="text-center">What guest are saying about the best places in India !</h3>
    <p class="text-info text-center text-small mb-2">Indian homes have an average of 4.6 out of 5 starts with over 50k reviews</p>
    <div class="row">
        <div class="col-md-4 hovereffect">
            <div class="imageContainer">
                <img src="../../assets/Room1.jpg" class="img-thumbnail mb-2 room-image img-responsive" alt="">
            </div>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <p class="lend">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, minima.</p>
            <img src="../../assets/User1.jpg" class="img-responsive review-image " alt=""> <span class="m-2">John, United States
            </span>


        </div>
        <div class="col-md-4 hovereffect">
            <img src="../../assets/Room2.jpg" class="img-thumbnail mb-2 room-image img-responsive" alt="">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <p class="lend">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, minima.</p>
            <img src="../../assets/user2.jpg" class="img-responsive review-image" alt=""><span class="m-2">Chris, Japan
            </span>
        </div>
        <div class="col-md-4 hovereffect">
            <img src="../../assets/Room3.jpg" class="img-thumbnail mb-2  room-image img-responsive" alt="">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-half-o" aria-hidden="true"></i>
            <p class="lend">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, minima.</p>
            <img src="../../assets/user3.jpg" class="img-responsive review-image" alt=""><span class="m-2">Kristian, Germany
            </span>

        </div>
    </div>
</div>